
/* =======================header======================= */
header{
   
    display: flex;
    justify-content: space-around;
    align-items: center;
     width: 100%;
    margin: 30px 0PX;
}
.menu{

    display: flex;
}

.menu__list{

    margin: 0px 10px;
}

.menu__link{

    color: #1F3F68;
    font-family: Helvetica;
    font-style: normal;
   
    font-size: 14px;
    line-height: 28px;

   
    letter-spacing: 0.04em;
    }
.link-active{

    font-weight: bold;
}


/* =======================hero======================= */

.hero{
    background: url(../images/hero.png) no-repeat;
    width: 100%;
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    
}

.hero__tile{
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 64px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.hero__paffaro{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;

    text-align: center;
    letter-spacing: 0.04em;

    color: rgba(255, 255, 255, 0.78);

}
/* =======================blog======================= */
.search__input{
     border: none;
     font-family: Arial, Helvetica, sans-serif;
     color: #7487a0;
     background: #ebebeb;
     padding: 10px 0px 10px 40px;
     width: 100%;
     
}
.search{

    margin: 20px 0px;
    position: relative;
  
}
.search__icon{

    color: #7487a0;
    font-size: 19px;
    position: absolute;
    top: 10px;
    left: 10px;
}

/* =======================post======================= */

.post{

  
   
}
.post__img{

    width: 100%;
    height: 314px;
}

.post_foother{

    margin: 10px 0px;
    position: relative;
}
.social{
    position: absolute;
    right: 20px;
    top: 0;
   
}

.parrafo--date{

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    
    /* or 186% */
    letter-spacing: 0.04em;
    
    color: rgba(0, 0, 0, 0.6);
    opacity: 0.5;
}



.posts-article{
     margin: 20px 0px;

     
}


.article__img{


    width: 100%;
}

.parrafo-article{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    
    /* or 186% */
    letter-spacing: 0.04em;
    
    color: rgba(0, 0, 0, 0.6);
}

.article-desc--post{

    position: relative;
}


.social__article{

    color: #7487a0;
    font-size: 19px;
    position: absolute;
    top: 0px;
    right:  10px;

}

.footer{

    background: #316099;
    color: white;

    border-radius: 0px 100px 0px 0px;
   
    margin-right: 5%;
}
.footer__content{

    padding-top: 10px;
}
.title-h4{

    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 38px;
   
    width: 250px;
}

.footer__btn{

    background: #5a98d0;
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
    display: block;
    width: 250px;
    text-align: center;
    margin: 10px;
    animation: all 0.5s;
    font-family: Arial, Helvetica, sans-serif;
    
}

.top__lits{
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
}
.top-text{
    display: flex;
    flex-direction: column;
}
.footer__btn:hover{

    background: #2081d6;
    color: white;
    cursor: pointer;
    
    
}


.footer__parrafo{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    padding: 20px 0px;

    /* or 162% */
    letter-spacing: 0.05em;
}
.foother__title{
    font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 30px;

/* identical to box height, or 150% */
letter-spacing: 0.05em;

/* white */
color: #FFFFFF;
}


.footer__list{
    
     margin: 10px 0px;
}
.footer__link{
    font-family: Arial;
font-style: normal;

font-size: 15px;
line-height: 26px;

/* identical to box height, or 162% */
letter-spacing: 0.05em;

/* white */
color: #FFFFFF;
margin: 10px 0px;

}

.bold__text{

    font-weight: bold;

}
.copy{
    font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;

/* identical to box height, or 162% */
letter-spacing: 0.05em;
color: white;
opacity: 0.4;


}

@media (min-width: 768px) {  

.h2{
     font-size: 60PX;
}

    
.post{

    
    display: flex;
   
    width: 100%;
    height: 250px;
}
.post__img{

   order: 2;
   width: 540px;
   height: 380px;
   
}

.parrafo{
    font-size: 20px;
    
    height: 170px;
}

.h3{

}
.post_desc{

      
       width: 50%;
       height: 100%;

}
.social {
    
    top: 5px;
}



.posts-popular{

    margin-top: 200px;
    display: flex;
    
}
.post-popular{
   
    width: 350px;
    margin: 0px 10px;
}

.article-desc--post{

    
    padding-left: 20px;
}
.post__img--popular{
    width: 350px;
    height: 200px;
}

.post_desc--popular{
    
    width: 100%;
}
.h2--post{

    font-size: 22px;
    
}
.parrafo--popular {
    font-size: 20px;
    height: 270px;
}

.posts-article{
  
    display: flex;
   
    
}

.parrafo-article{

    
   
    
}

.lists{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

}


@media (min-width: 992px) { 


    .parrafo-article{

        height: 140px;
       
        
    }
    .article__img{


        width: 100%;
        height: 250px;
    }

 }


@media (min-width: 1200px) { 


 }